@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Matter";
  font-weight: 400;
  /* src: local(""), url(./fonts/Matter-Regular.otf); */
  src: local(''), url(./fonts/Matter-Regular.otf) format('opentype');
}
